<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
      <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/gestech2?serverTimezone=GMT</property>
      <property name = "show_sql">true</property>
      <property name = "hibernate.current_session_context_class">thread</property>
      <property name = "hibernate.connection.username">root</property>
      <property name = "hibernate.connection.password">1010</property>
      <mapping resource = "it.teorema.gestech.model/Auth.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Avvisi.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Commenti.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Dettagli_risorsa.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Esiti_colloqio.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Linguaggi.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Lingue.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Livelli.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Menu.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Profili.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Risorse.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Ruoli_risorse.hbm.xml"/>
      <mapping resource = "it.teorema.gestech.model/Ruoli.hbm.xml"/>
   </session-factory>
</hibernate-configuration>